@import '../../styles/includes.scss';

.button {
  background-color: $colorWhite;
  border: rem(1) solid;
  border-radius: rem(4);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  padding: rem(16);
  text-align: center;
  text-decoration: none;

  &:disabled {
    cursor: not-allowed;
  }

  &:focus {
    outline: rem(1) dotted $colorBlack;
    outline: -webkit-focus-ring-color auto rem(5);
  }
}

.buttonPrimary {
  background-color: colorBackgroundLiteGrey;
  border-color: colorBackgroundLiteGrey;
  color: $colorWhite;

  &:hover {
    background-color: colorBackgroundLiteGrey;
    border-color: colorBackgroundLiteGrey;
  }

  &:active {
    background-color: colorBackgroundLiteGrey;
    border-color: colorBackgroundLiteGrey;
  }

  &:disabled {
    background-color: $colorBlack;
    border-color: $colorBlack;
  }
}

.buttonBlock {
  display: flex;
  width: 100%;
}

.buttonMobileBlock {
  display: flex;
  width: 100%;

  @include mq($tablet-and-above) {
    display: inline-flex;
    width: auto;
  }
}
