$colorRed: #d22030;
$colorError: #d22030;
$colorWhite: #eee;
$colorErrorBackground: #fae8ea;
$colorSuccess: #039e33;
$colorSuccessBackground: #cdecd6;
$colorInfo: #4a90e2;
$colorInfoBackground: #dbe9f9;
$colorWarning: #efc100;
$colorWarningBackground: #fcf3cc;
$colorBlack: #333;
$colorBoundaryBoxGrey: #e6e6e6;
$colorBackgroundGrey: #f2f2f2;
$colorBackgroundLiteGrey: #fafafa;
$colorScrollbarThumb: #959595;
$colorScrollbarTrack: #e0e0e0;
