@import '../../../styles/includes.scss';

.hint {
  font-size: rem(15);
  margin-top: rem(6);
  margin-right: rem(6);
}

.hintSuccess {
  color: $colorSuccess;
}

.hintWarning {
  color: $colorWarning;
}

.hintError {
  color: $colorError;
}
